@page "/"

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="d-flex flex-column justify-center align-center" Style="height: 100vh;">
    <div class="text-center">
        <MudText Typo="Typo.h1" Class="mb-4 fw-bold">
            Welcome to the <br/> 
            <MudText Typo="Typo.h1" Style="@($"color:{Colors.Orange.Darken1}")" Class="fw-bold">
                Solar-Powered Charging Station!
            </MudText>
        </MudText>
        <MudText Typo="Typo.h5" Class="mb-8">
            Eco-friendly charging solutions for your devices
        </MudText>
        <MudButton Variant="Variant.Filled" 
                   Color="Color.Primary" 
                   Size="Size.Large"
                   OnClick="StartCharging"
                   Class="px-8 py-4 font-weight-bold text-xl-center">
            Start Charging
        </MudButton>
    </div>
</MudContainer>

@code {

    private void StartCharging()
    {
        navigationManager.NavigateTo("/slots",true,true);
    }
}

