@using raspi.Components.Pages.Shared
@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <main class="">
        <InventoryNavigation/>
        <article class="content px-4">
            @Body
            <HomeNavigation />
        </article>
    </main>
</div>
